# Variables in Python

In [ ]:
first_name = 'PRABANDHA'
last_name = 'KISTAMPALLY'
country = 'UNITED STATES'
city = 'POUGHKEEPSIE , NEWYORK'
age = 12345
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname':'Prabandha', 
    'lastname':'Kisampally', 
    'country':'UnitedStates',
    'city':'NewYork'
    }

# Printing the values stored in the variables¶

In [ ]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

# Checking data types

In [ ]:
print(type(10))                  # Int
print(type(3.14))                # Float
print(type(1 + 3j))              # Complex
print(type('Prabandha'))          # String
print(type([1, 2, 3]))           # List
print(type({'name':'Prabandha'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple
print(type(3 == 3))              # Bool
print(type(3 >= 3))              # Bool

# Arithmetic Operations in Python
# Integers¶

# / Division in python gives floating number
 # // gives without the floating number or without the remaining
 # % Gives the remainder
# 3 ** 2  means 3 * 3

In [2]:
print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)
print('Multiplication: ', 2 * 3)
print ('Division: ', 4 / 2)                         
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)
print('Division without the remainder: ', 7 // 2)  
print('Modulus: ', 3 % 2)                          
print ('Division without the remainder: ', 7 // 3)
print('Exponential: ', 3 ** 2)

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Modulus:  1
Division without the remainder:  2
Exponential:  9

# Floating numbers

In [5]:
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

Floating Number,PI 3.14
Floating Number, gravity 9.81

# Complex numbers

In [6]:
print('Complex number: ', 1 + 1j)
print('Multiplying complex number: ',(1 + 1j) * (1-1j))

Complex number:  (1+1j)
Multiplying complex number:  (2+0j)