# Print Statements and Complex Data type

# -------------------Print Statements------------

In [1]:
a=10
b=20
a
b

20

In [2]:
a=10
b=20
print(a)
print(b)

10
20

# Argumented Print Function

In [3]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [4]:
num1=20
num2=30
add=num1+num2
print(add)

50

# Print Result with String

In [6]:
num1=20
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [8]:
name='Python'
age=20
city='hyd'
# my name is python and i am 10 year old from hydrabad
print('My name is',name,'and i am',age,'years old form',city)

My name is Python and i am 20 years old form hyd

# Print Format method

In [9]:
num1=20
num2=30
add=num1+num2
print('The addition of {} and {} is= {}'.format(num1,num2,add))

The addition of 20 and 30 is= 50

In [11]:
name='Python'
age=20
city='hyd'
#hellow my name is python and i am 10 year old from hydrabad
print('hello my name is {}, and i am {} years old from {}'.format(name,age,city))

hello my name is Python, and i am 20 years old from hyd

In [12]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2)
avg1=round((num1+num2+num3)/3,2)
# The avrage of num1,num2,num3 is = avg
print('The avrage of {}, {}, and {} is= {} or {}'.format(num1,num2,num3,
avg,avg1)) # here we can use round(avg,2) also

The avrage of 100, 25, and 333 is= 152.66666666666666 or 152.67

# More short format meythod(f string method)

variable should be in curly braces
and write everything inside quots ''
at starting simpaly add f

In [13]:
num1=20
num2=30
add=num1+num2
print(f'The addition of {num1} and {num2} is= {add}') # alwase prefer this

The addition of 20 and 30 is= 50

In [14]:
name='Python'
age=20
city='hyd'
#hellow my name is python and i am 10 year old from hydrabad
print(f'hello my name is {name}, and i am {age} year old, from {city}.')

hello my name is Python, and i am 20 year old, from hyd.

In [15]:
# lete combine all
num1=10
num2=20
add = num1+ num2
print('The addition of',num1,'and',num2,'is=',add)
print('The addition of {} and {} is= {}'.format(num1,num2,add))
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

# End Statement

In [16]:
print('hello') # 1st statement
print('good moorning') # 2nd statement)
# i want print like:- hellow good morning

hello
good moorning

In [17]:
print('hello', end=' ') # 1st statement
print('world good day') # 2nd statement

hello world good day

# Seperator

here one print statement only we use
insisde one print statement we have multipal values
we want to seperate these multipal values with anything

In [18]:
print('hello','hai','how are you',sep='--->')
print('hello','hai','how are you',sep='&')
print('hello','hai','how are you',sep='@')
print('hello','hai','how are you',sep=' ')
print(3,'.') # . is far from 3 so here we will use sep method
print(3,'.',sep='') # see now space setteld(also use to remove space B/W words)
print(1,2,end=' ')
print(3,'.',sep='')
# will print 1 2 3.

hello--->hai--->how are you
hello&hai&how are you
hello@hai@how are you
hello hai how are you
3 .
3.
1 2 3.

# -----------------Complex Data type----------------

Z = real + Imaganary * 1j
Z = 3 + 4j

In [21]:
z = 3 + 4j
print(z.real)
print(z.imag)

3.0
4.0

In [22]:
a=3+4j
b=1+2j
print(a+b)
print(a-b)
print(a*b)
print(a/b)

(4+6j)
(2+2j)
(-5+10j)
(2.2-0.4j)

In [24]:
z = 3 + 4j
print(abs(z))
print(z.conj())

5.0

AttributeError: 'complex' object has no attribute 'conj'

In [ ]:
import cmath
z = 1+1j
print(cmath.p())
print(cmath.p())
print(cmath.p())